#body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #d0d0d0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding-left: 2rem;
  padding-right: 0.5rem;
}