.memotag {
    display: block;
    margin: 0.3em;
    font-size: 0.7rem;
    line-height: 0.7rem;
    border-radius: 25%;
    background-color: lightblue;
    color: #444444;
    padding: 0.3em;
    height: 0.7rem;
    margin: auto 0;
    margin-left: 10px;
    font-weight: 600;
}